{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_EXTENSION_VERSION": "~4",

    "AUTOTASK_INTEGRATION_CODE": "",
    "AUTOTASK_USER": "",
    "AUTOTASK_SECRET": "",

    "APIKey_STS":  "STS.91f688dd-fd30-44e6-9640-f6203f0b2acd"
  }
}
